.form{
    background-color: #4C956C;
    width: 100%;
    padding: 50px;
    padding-left: 120px;
    padding-right: 120px;
    border-radius: 20px;
    color: white;
}

.addButton{
    background-color: #FEF9F3;
    border: 2px solid #397051;
}

.addButton:hover{
    background-color: #e6e3df;
    border: 2px solid #397051;
    color: #397051;
}

.line{
    width: 100%;
    height: auto;
    margin: 50px 0;
}

@media (max-width: 768px) {
    /* Stack the columns for smaller screens */
    .form{
        padding: 30px 20px;
    }
  }