/* animations.css */
.fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-out;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 200ms ease-out;
  }
  
  /* App.css */

/* .content-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  
  .page-content {
    flex-grow: 1;
    overflow: hidden;
    padding: 20px;
  } */
  