.primaryBtn{
    background-color: #201E1F;
    padding-left: 40px;
    padding-right: 40px;
    border: 2px solid #201E1F;
}

.primaryBtn:hover{
    background-color: #FEF9F3;
    border: 2px solid #201E1F;
    color:#201E1F;
}

.primaryBtn:active {
    background-color: #333333 !important; 
    color: #FEF9F3 !important;
    transform: scale(0.99) !important;
    border: 2px solid #201E1F !important;
}

.secondaryBtn{
    background-color: #FEF9F3;
    padding-left: 40px;
    padding-right: 40px;
    border: 2px solid #201E1F;
    color:#201E1F;
    margin-right: 20px;
}

.secondaryBtn:hover{
    background-color: #201E1F;
    border: 2px solid #201E1F;
    color:#FEF9F3;
}

.secondaryBtn:active {
    background-color: #FEF9F3 !important;
    border: 2px solid #201E1F !important;
    color:#201E1F !important;
    transform: scale(0.99) !important;
}