.progress-line{
    width: 100%;
    height: auto;
    background-color: #4C956C;
    border-radius: 10px;
    padding: 20px 20px;
}

.progress-line h4{
    color: #FEF9F3;
    margin-bottom: 20px;
}
  
  .tracking-line {
    height: 10px; 
    background-color: #94BFA7;
    transition: width 0.5s ease; 
    border-radius: 5px;
    max-width: 100%; 
    margin-bottom: 10px;
  }
  
  .filled-line {
    height: 10px; /* Height of the filled part */
    background-color: #FEF9F3; /* Color for the filled portion */
    border-radius: 5px; /* Optional: to round the edges */
    width: 0; /* Start with width 0 */
    transition: width 1s ease;
  }
  
  /* About us */
  .aboutUs-bg{
    /* width: 100%; */
    height: 100px;
    background-color: #4C956C;
    margin-bottom: -50px;
    margin-left: 40px;
  }

  .aboutus-img{
    width: auto;
    height: 300px;
    margin-left: 10px;
  }

  .ourMission-green{
    color:#4C956C;
  }
  
  @media (max-width: 576px) {
    .ourMission-green{
        margin-top: -30px !important;
    }
  }