.profile-img{
    width: 20%;
    height: auto;
    border-radius: 50%;
    border: 7px solid #FEF9F3;
}

.profile-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
}
  
.profile-email {
    font-size: 1rem;
    color: #555;
}

.background-profile{
    background-color: #4C956C;
    padding: 50px;
    border-radius: 20px;
}

.colour-bg-profile{
    width: 100%;
    height: 220px;
    background-color: #70AA89;
    padding-top: 70px;
}

.test{
    margin-top: 30%;
}
