.juice-image{
    margin-top: -70px;
    width: 100%;
    height: 73vh;
    object-fit: cover; /* Cover the entire area, cutting off parts of the image */
    object-position: center;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
}

.align-content-center {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    gap: 20px; /* Adds space between the items */
  }
  
  .button-container {
    /* Optional: If you want the button to have specific styling */
  }
  
  .back-button{
    margin-top: 30px;
  }

  .h-line{
    width: 5px;
    height: 100%;
    background-color: #4C956C;
  }

  .category-text{
    margin-left: -50px;
    margin-top: 10px;
    width: 80%;
  }

  .button-container {
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center; /* Align items vertically in the center */
    margin-top: 10px; /* Space between elements */
  }
  
  .heart-container {
    display: inline-block;
    cursor: pointer;
  }
  
  .heart-icon {
    font-size: 40px;
    transition: color 0.3s ease, transform 0.3s ease;
    color: #201E1F;
    margin-left: 50px;
  }
  
  .heart-icon:hover {
    color: red;
    transform: scale(1.1);
    content: "\f004"; /* Unicode for the filled heart icon */
    font-family: "Font Awesome 5 Free"; /* Ensure FontAwesome font is applied */
    font-weight: 700; /* To ensure it displays the filled heart */
  }

  /* review */
  
.star-icon {
    color: gold; /* Change to desired star color */
    margin-right: 2px; /* Spacing between stars */
  }
  