.tracking-card-bg {
    border: 2px solid #F1A208;
    border-radius: 20px;
    padding: 30px;
}

.spacer-line {
    width: 100%;
    height: 1px;
    background-color: #F1A208;
}

.tracking-yellow-bg {
    display: flex;
    justify-content: flex-end;
    background-color: #F7C76B;
    height: 250px;
    width: 28%;
    position: absolute;
    right: 0;
    margin-top: -50px;
    z-index: 1;
}

.rotated-header {
    transform: rotate(-90deg); /* Rotate the header */
    margin-left: -400px;
    
  }
  
  .text-center {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the header and paragraph */
    justify-content: center; /* Center vertically */
  }
  
  .gm-text{
    width: 70%;
    margin-top: -100px;
  }

  .progress-circle {
    width: 300px;
    height: 300px;
    border: 4px solid #4D4B4C;
    border-radius: 150px;
    position: relative; /* Ensure it participates in the z-index stacking context */
    z-index: 2; /* Higher than tracking-yellow-bg */
    background-color: #FEF9F3;
    overflow: hidden;
}

.tracking-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 5;
    font-weight: bold;
    text-align: center; 
    margin: 0; 
  }
  
  .progress-circle {
    background-color: #FCECCE;
    width: 300px; /* Circle width */
    height: 300px; /* Circle height */
    border: 5px solid #FEF9F3; /* Circle border color */
    border-radius: 50%; /* Makes it circular */
    margin-top: -200px;
    overflow: hidden; /* Prevents fill from overflowing */
    position: relative; /* For positioning fill */
    margin: auto; /* Centers the circle */
  }
  
  .progress-fill {
    position: absolute;
    bottom: 0; /* Fill from the bottom */
    width: 100%;
    background-color: #f0ad4e; /* Fill color */
    transition: height 0.5s ease; /* Smooth transition for fill */
  }

  .bolder-text{
    font-size: 30px;
    font-weight: 700;
  }
  
  
