.tracking-card-bg {
    border: 2px solid #F1A208;
    border-radius: 20px;
    padding: 30px;
}

.spacer-line {
    width: 100%;
    height: 1.5px;
    background-color: #F1A208;
    margin-bottom: 10px;
}

.tracking-yellow-bg {
    display: flex;
    justify-content: flex-end;
    background-color: #F7C76B;
    height: 550px;
    width: 26%;
    position: absolute;
    right: 0;
    margin-top: -50px;
    z-index: 0;
}

/* .tracking-card-bg{
  margin: 10px 10px;
} */

/* .trackh1, p {
  position: relative;
  z-index: 2;
} */
 
  .progress-circle {
    width: 300px;
    height: 300px;
    border: 4px solid #4D4B4C;
    border-radius: 150px;
    position: relative; /* Ensure it participates in the z-index stacking context */
    z-index: 2; /* Higher than tracking-yellow-bg */
    background-color: #FEF9F3;
    overflow: hidden;
}

.tracking-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 5;
    font-weight: bold;
    text-align: center; 
    margin: 0; 
  }

.tracked-header{
  margin-bottom: 2px;
}


  
  .progress-tracker{
    margin-top: -70px;
  }
  .progress-circle {
    background-color: #FCECCE;
    width: 350px; /* Circle width */
    height: 350px; /* Circle height */
    border: 5px solid #FEF9F3; /* Circle border color */
    border-radius: 50%; /* Makes it circular */
    margin-top: -200px;
    overflow: hidden; /* Prevents fill from overflowing */
    position: relative; /* For positioning fill */
    margin: auto; /* Centers the circle */
  }
  
  .progress-fill {
    position: absolute;
    bottom: 0; /* Fill from the bottom */
    width: 100%;
    background-color: #f0ad4e; /* Fill color */
    transition: height 0.5s ease; /* Smooth transition for fill */
  }

  .bolder-text{
    font-size: 30px;
    font-weight: 700;
  }
  

  .goals{
    /* border-left: 2px solid #f0ad4e;
    border-top: 2px solid #f0ad4e; */
    padding: 20px;
    margin-bottom: 10px;
  }

  .motivations{
    /* border-right: 2px solid #f0ad4e;
    border-bottom: 2px solid #f0ad4e; */
    padding: 20px;
    text-align: right;
    margin-top: -20px;
  }

  .goalsMotivationline{
    width: 100%;
    height: 2px;
    margin: 0 auto;
    background-color: #f0ad4e;
  }

  .goal-span{
    color: #F1A208;
  }

  /* Responsiveness */
  
  @media (max-width: 768px) {
    /* Stack the columns for smaller screens */
    .tracking-yellow-bg {
      background-color: transparent;
    }

    .progress-tracker{
      margin-top: -580px;
    }

    .progress-circle{
      width: 250px;
      height: 250px;
    }

    .goalsAndMotivations{
      margin-top: 100px !important;
    }

    .rotated-header {
      margin-top: 200px;
    }

    .trackMobileText{
      display: none;
    }

    /* TrackedDataCard */
    .tracking-card-bg {
      padding: 20px;
    }
  }